hr {
  border: 1px dashed gray;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.class {
  flex: 50%;
  text-align: center;
  background-color: lightsalmon;
  padding-bottom: 50px;
}

.func {
  flex: 50%;
  text-align: center;
  background-color: lightsteelblue;
  padding-bottom: 50px;
}

.app {
  padding: 20px 0px;
}